{% extends 'base.html.twig' %}

{% block title %}Occupant index{% endblock %}

{% block body %}
    <h1>Occupant index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Debut</th>
                <th>Fin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for occupant in occupants %}
            <tr>
                <td>{{ occupant.id }}</td>
                <td>{{ occupant.debut ? occupant.debut|date('Y-m-d') : '' }}</td>
                <td>{{ occupant.fin ? occupant.fin|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('occupant_show', {'id': occupant.id}) }}">show</a>
                    <a href="{{ path('occupant_edit', {'id': occupant.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('occupant_new') }}">Create new</a>
{% endblock %}
