{% extends 'base.html.twig' %}

{% block title %}Occupant{% endblock %}

{% block body %}
    <h1>Occupant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ occupant.id }}</td>
            </tr>
            <tr>
                <th>Debut</th>
                <td>{{ occupant.debut ? occupant.debut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Fin</th>
                <td>{{ occupant.fin ? occupant.fin|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('occupant_index') }}">back to list</a>

    <a href="{{ path('occupant_edit', {'id': occupant.id}) }}">edit</a>

    {{ include('occupant/_delete_form.html.twig') }}
{% endblock %}
