{% extends 'base.html.twig' %}

{% block title %}Zooh|Hôtelerie
{% endblock %}

{% block body %}

<div class="card card-custom mt-4 mb-5">
    <div class="card-header">
        <div class="card-title">
            <span class="card-icon">
                <i class="fa fa-home text-primary"></i>
            </span>
            <h3 class="card-label">
                Liste des chambres
                <small></small>
            </h3>
        </div>
        <div class="card-toolbar">
             <a href="javascript:void(0)" javascript:void(0)"" class="" id="edit" data-toggle="modal"
                 data-target="#addreserver">
                 <span class="svg-icon svg-icon-primary svg-icon-3x">
                     <!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2020-12-10-081610/theme/html/demo6/dist/../src/media/svg/icons/Home/Timer.svg--><svg
                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                         height="24px" viewBox="0 0 24 24" version="1.1">
                         <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                             <rect x="0" y="0" width="24" height="24" />
                             <path
                                 d="M12,21 C7.581722,21 4,17.418278 4,13 C4,8.581722 7.581722,5 12,5 C16.418278,5 20,8.581722 20,13 C20,17.418278 16.418278,21 12,21 Z"
                                 fill="#000000" opacity="0.3" />
                             <path
                                 d="M13,5.06189375 C12.6724058,5.02104333 12.3386603,5 12,5 C11.6613397,5 11.3275942,5.02104333 11,5.06189375 L11,4 L10,4 C9.44771525,4 9,3.55228475 9,3 C9,2.44771525 9.44771525,2 10,2 L14,2 C14.5522847,2 15,2.44771525 15,3 C15,3.55228475 14.5522847,4 14,4 L13,4 L13,5.06189375 Z"
                                 fill="#000000" />
                             <path
                                 d="M16.7099142,6.53272645 L17.5355339,5.70710678 C17.9260582,5.31658249 18.5592232,5.31658249 18.9497475,5.70710678 C19.3402718,6.09763107 19.3402718,6.73079605 18.9497475,7.12132034 L18.1671361,7.90393167 C17.7407802,7.38854954 17.251061,6.92750259 16.7099142,6.53272645 Z"
                                 fill="#000000" />
                             <path
                                 d="M11.9630156,7.5 L12.0369844,7.5 C12.2982526,7.5 12.5154733,7.70115317 12.5355117,7.96165175 L12.9585886,13.4616518 C12.9797677,13.7369807 12.7737386,13.9773481 12.4984096,13.9985272 C12.4856504,13.9995087 12.4728582,14 12.4600614,14 L11.5399386,14 C11.2637963,14 11.0399386,13.7761424 11.0399386,13.5 C11.0399386,13.4872031 11.0404299,13.4744109 11.0414114,13.4616518 L11.4644883,7.96165175 C11.4845267,7.70115317 11.7017474,7.5 11.9630156,7.5 Z"
                                 fill="#000000" />
                         </g>
                     </svg>
                     <!--end::Svg Icon--></span>
             </a>
            <a href="javascript:void(0)" javascript:void(0)"" class="" id="buttonTable">
                <span class="svg-icon svg-icon-success svg-icon-3x">
                    <!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2020-12-28-020759/theme/html/demo6/dist/../src/media/svg/icons/Layout/Layout-grid.svg-->
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                        height="24px" viewbox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24" />
                            <rect fill="#000000" opacity="0.3" x="4" y="4" width="4" height="4" rx="1" />
                            <path
                                d="M5,10 L7,10 C7.55228475,10 8,10.4477153 8,11 L8,13 C8,13.5522847 7.55228475,14 7,14 L5,14 C4.44771525,14 4,13.5522847 4,13 L4,11 C4,10.4477153 4.44771525,10 5,10 Z M11,4 L13,4 C13.5522847,4 14,4.44771525 14,5 L14,7 C14,7.55228475 13.5522847,8 13,8 L11,8 C10.4477153,8 10,7.55228475 10,7 L10,5 C10,4.44771525 10.4477153,4 11,4 Z M11,10 L13,10 C13.5522847,10 14,10.4477153 14,11 L14,13 C14,13.5522847 13.5522847,14 13,14 L11,14 C10.4477153,14 10,13.5522847 10,13 L10,11 C10,10.4477153 10.4477153,10 11,10 Z M17,4 L19,4 C19.5522847,4 20,4.44771525 20,5 L20,7 C20,7.55228475 19.5522847,8 19,8 L17,8 C16.4477153,8 16,7.55228475 16,7 L16,5 C16,4.44771525 16.4477153,4 17,4 Z M17,10 L19,10 C19.5522847,10 20,10.4477153 20,11 L20,13 C20,13.5522847 19.5522847,14 19,14 L17,14 C16.4477153,14 16,13.5522847 16,13 L16,11 C16,10.4477153 16.4477153,10 17,10 Z M5,16 L7,16 C7.55228475,16 8,16.4477153 8,17 L8,19 C8,19.5522847 7.55228475,20 7,20 L5,20 C4.44771525,20 4,19.5522847 4,19 L4,17 C4,16.4477153 4.44771525,16 5,16 Z M11,16 L13,16 C13.5522847,16 14,16.4477153 14,17 L14,19 C14,19.5522847 13.5522847,20 13,20 L11,20 C10.4477153,20 10,19.5522847 10,19 L10,17 C10,16.4477153 10.4477153,16 11,16 Z M17,16 L19,16 C19.5522847,16 20,16.4477153 20,17 L20,19 C20,19.5522847 19.5522847,20 19,20 L17,20 C16.4477153,20 16,19.5522847 16,19 L16,17 C16,16.4477153 16.4477153,16 17,16 Z"
                                fill="#000000" />
                        </g>
                    </svg>
                    <!--end::Svg Icon-->
                </span>
            </a>
        </div>
    </div>
</div>

<div class="" id="grid">
    <div class="d-flex justify-content-center  justify-align-center my-4 ">
        <select name="" id="catList" class="form-control form-control-sm col-4">
            <option value="" >Veuillez séléctionner</option>
            <option value="all" data-filter="all">Toutes les catégories</option>
            {% for item in categories %}
                <option value="{{item.intitule}}" data-filter="{{item.intitule}}">{{item.intitule}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="row">
        {% for row in chambresList %}
        <div class="col-lg-3 my-3">
            <div class="card card-custom {{row.tcategories ? row.tcategories.intitule : '' }}" style="height: 100%;">
                <div class="card-header ribbon ribbon-right">
                    <div class="ribbon-target  {{row.Isoccuper ? 'bg-danger' : ''}}  {{row.isReserver == true ? 'bg-warning' : 'bg-success'}}"
                        style="top: 10px; right: -2px;">{{row.Isoccuper ? 'Occupée' : 'Libre'}}
                    </div>
                    <h1 class="card-title text-bold">
                        <span class="label label-xl pulse pulse-success mr-10">
                            <span class="position-relative">{{row.numchambre}}</span>
                            <span class="pulse-ring"></span>
                        </span>
                    </h1>
                </div>
                <div class="card-body">
                    catégorie : {{row.tcategories ? row.tcategories.intitule : '' }}
                    {% for option in row.poptions %}
                        <li>{{option.intitule}}</li>
                    {% endfor %}
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <a href="javascript:void(0)" class="btn btn-gdark secondary font-weight-bold">{{row.prix}}</a>
                    <div>
                        {% if row.Isoccuper == false %}
                            <a href="javascript:void(0)" data-toggle="modal" data-target="#addNew" data-id="{{row.id}}"
                                id="edit" type="button">
                                <span class="svg-icon svg-icon-primary svg-icon-3x">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24" />
                                            <polygon fill="#000000" opacity="0.3"
                                                transform="translate(8.885842, 16.114158) rotate(-315.000000) translate(-8.885842, -16.114158) "
                                                points="6.89784488 10.6187476 6.76452164 19.4882481 8.88584198 21.6095684 11.0071623 19.4882481 9.59294876 18.0740345 10.9659914 16.7009919 9.55177787 15.2867783 11.0071623 13.8313939 10.8837471 10.6187476" />
                                            <path
                                                d="M15.9852814,14.9852814 C12.6715729,14.9852814 9.98528137,12.2989899 9.98528137,8.98528137 C9.98528137,5.67157288 12.6715729,2.98528137 15.9852814,2.98528137 C19.2989899,2.98528137 21.9852814,5.67157288 21.9852814,8.98528137 C21.9852814,12.2989899 19.2989899,14.9852814 15.9852814,14.9852814 Z M16.1776695,9.07106781 C17.0060967,9.07106781 17.6776695,8.39949494 17.6776695,7.57106781 C17.6776695,6.74264069 17.0060967,6.07106781 16.1776695,6.07106781 C15.3492424,6.07106781 14.6776695,6.74264069 14.6776695,7.57106781 C14.6776695,8.39949494 15.3492424,9.07106781 16.1776695,9.07106781 Z"
                                                fill="#000000"
                                                transform="translate(15.985281, 8.985281) rotate(-315.000000) translate(-15.985281, -8.985281) " />
                                        </g>
                                    </svg>
                                </span>
                            </a>
                        {% endif %}

                        {% if row.Isoccuper == true %}
                            <a href="javascript:void(0)" data-popover="popover" data-trigger="click" data-placement="top"
                                data-html="true" data-content="<li>Client :  {{row.occupants ? row.occupants.clients.nom ~' '~ row.occupants.clients.prenom  : ''}}</li>
                                    <li>DateArrivée : {{row.occupants ? row.occupants.debut|date('d-m-Y') : ''}}</li>
                                    <li>DateDépart : {{row.occupants ? row.occupants.fin|date('d-m-Y') : ''}}</li>"
                                class="" data-toggle="modal">
                                <span class="svg-icon svg-icon-success svg-icon-3x">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24" />
                                            <path
                                                d="M6,2 L18,2 C19.6568542,2 21,3.34314575 21,5 L21,19 C21,20.6568542 19.6568542,22 18,22 L6,22 C4.34314575,22 3,20.6568542 3,19 L3,5 C3,3.34314575 4.34314575,2 6,2 Z M12,11 C13.1045695,11 14,10.1045695 14,9 C14,7.8954305 13.1045695,7 12,7 C10.8954305,7 10,7.8954305 10,9 C10,10.1045695 10.8954305,11 12,11 Z M7.00036205,16.4995035 C6.98863236,16.6619875 7.26484009,17 7.4041679,17 C11.463736,17 14.5228466,17 16.5815,17 C16.9988413,17 17.0053266,16.6221713 16.9988413,16.5 C16.8360465,13.4332455 14.6506758,12 11.9907452,12 C9.36772908,12 7.21569918,13.5165724 7.00036205,16.4995035 Z"
                                                fill="#000000" />
                                        </g>
                                    </svg>
                                </span>
                            </a>
                            <a href="{{path('isfree',{'id':row.id})}})">
                                <span class="svg-icon svg-icon-primary svg-icon-3x">
                                    <!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2020-12-28-020759/theme/html/demo6/dist/../src/media/svg/icons/Navigation/Sign-out.svg--><svg
                                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24" />
                                            <path
                                                d="M14.0069431,7.00607258 C13.4546584,7.00607258 13.0069431,6.55855153 13.0069431,6.00650634 C13.0069431,5.45446114 13.4546584,5.00694009 14.0069431,5.00694009 L15.0069431,5.00694009 C17.2160821,5.00694009 19.0069431,6.7970243 19.0069431,9.00520507 L19.0069431,15.001735 C19.0069431,17.2099158 17.2160821,19 15.0069431,19 L3.00694311,19 C0.797804106,19 -0.993056895,17.2099158 -0.993056895,15.001735 L-0.993056895,8.99826498 C-0.993056895,6.7900842 0.797804106,5 3.00694311,5 L4.00694793,5 C4.55923268,5 5.00694793,5.44752105 5.00694793,5.99956624 C5.00694793,6.55161144 4.55923268,6.99913249 4.00694793,6.99913249 L3.00694311,6.99913249 C1.90237361,6.99913249 1.00694311,7.89417459 1.00694311,8.99826498 L1.00694311,15.001735 C1.00694311,16.1058254 1.90237361,17.0008675 3.00694311,17.0008675 L15.0069431,17.0008675 C16.1115126,17.0008675 17.0069431,16.1058254 17.0069431,15.001735 L17.0069431,9.00520507 C17.0069431,7.90111468 16.1115126,7.00607258 15.0069431,7.00607258 L14.0069431,7.00607258 Z"
                                                fill="#000000" fill-rule="nonzero" opacity="0.3"
                                                transform="translate(9.006943, 12.000000) scale(-1, 1) rotate(-90.000000) translate(-9.006943, -12.000000) " />
                                            <rect fill="#000000" opacity="0.3"
                                                transform="translate(14.000000, 12.000000) rotate(-270.000000) translate(-14.000000, -12.000000) "
                                                x="13" y="6" width="2" height="12" rx="1" />
                                            <path
                                                d="M21.7928932,9.79289322 C22.1834175,9.40236893 22.8165825,9.40236893 23.2071068,9.79289322 C23.5976311,10.1834175 23.5976311,10.8165825 23.2071068,11.2071068 L20.2071068,14.2071068 C19.8165825,14.5976311 19.1834175,14.5976311 18.7928932,14.2071068 L15.7928932,11.2071068 C15.4023689,10.8165825 15.4023689,10.1834175 15.7928932,9.79289322 C16.1834175,9.40236893 16.8165825,9.40236893 17.2071068,9.79289322 L19.5,12.0857864 L21.7928932,9.79289322 Z"
                                                fill="#000000" fill-rule="nonzero"
                                                transform="translate(19.500000, 12.000000) rotate(-90.000000) translate(-19.500000, -12.000000) " />
                                        </g>
                                    </svg>
                                </span>
                            </a>

                        {% endif %}
                            {# {% if row.treservations ? row.treservations.isConfirmer :''  == true %}
                            <a href="javascript:void(0)" data-popover="popover" data-trigger="click" data-placement="top"
                                data-html="true" data-content="<li>Client :  {{row.treservations ? row.treservations.tclients.nom ~' '~ row.treservations.tclients.prenom  : ''}}</li>
                                    <li>DateArrivée : {{row.treservations ? row.treservations.datedebut|date('d-m-Y') : ''}}
                                    </li>
                                    <li>DateDépart : {{row.treservations ? row.treservations.datefin|date('d-m-Y') : ''}}
                                    </li>"
                                class="" data-toggle="modal">
                                <span class="svg-icon svg-icon-success svg-icon-3x">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24" />
                                            <path
                                                d="M6,2 L18,2 C19.6568542,2 21,3.34314575 21,5 L21,19 C21,20.6568542 19.6568542,22 18,22 L6,22 C4.34314575,22 3,20.6568542 3,19 L3,5 C3,3.34314575 4.34314575,2 6,2 Z M12,11 C13.1045695,11 14,10.1045695 14,9 C14,7.8954305 13.1045695,7 12,7 C10.8954305,7 10,7.8954305 10,9 C10,10.1045695 10.8954305,11 12,11 Z M7.00036205,16.4995035 C6.98863236,16.6619875 7.26484009,17 7.4041679,17 C11.463736,17 14.5228466,17 16.5815,17 C16.9988413,17 17.0053266,16.6221713 16.9988413,16.5 C16.8360465,13.4332455 14.6506758,12 11.9907452,12 C9.36772908,12 7.21569918,13.5165724 7.00036205,16.4995035 Z"
                                                fill="#000000" />
                                        </g>
                                    </svg>
                                </span>
                            </a> 
                            {% endif %} #}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>


<!-- full calendar et tableau des listes de reservations-->

<div id="table" style="display: none;" class='mt-5'>
    <div class="card card-custom">
        <div class="card-header">
            <div class="card-title">
                <h3 class="card-label">
                    Planing des chambres réservées
                </h3>
            </div>
        </div>
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="example mb-10">
                    <div class="example-preview">
                        <ul class="nav nav-pills" id="myTab1" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab-1" data-toggle="tab" href="#home-1">
                                    <span class="nav-icon">
                                        <i class="fa fa-calendar-alt"></i>
                                    </span>
                                    <span class="nav-text">Calendrier</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab-1" data-toggle="tab" href="#profile-1"
                                    aria-controls="profile">
                                    <span class="nav-icon">
                                        <i class="fa fa-list"></i>
                                    </span>
                                    <span class="nav-text">Liste</span>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content mt-5" id="myTabContent1">
                            <div class="tab-pane fade show active" id="home-1" role="tabpanel"
                                aria-labelledby="home-tab-1">
                                <div id="calendrier" data-val="{{reservations}}"></div>
                            </div>

                            <div class="tab-pane fade" id="profile-1" role="tabpanel" aria-labelledby="profile-tab-1">
                                <div class="card card-custom">
                                    <div class="card-header">
                                        <div class="card-title">
                                            <span class="card-icon">
                                                <i class="fa fa-list"></i>
                                            </span>
                                            <h3 class="card-label">Liste des réservations</h3>
                                        </div>
                                        <div class="card-toolbar">
                                            <!--begin::Dropdown-->
                                            <div class="dropdown dropdown-inline mr-2">
                                                <button type="button"
                                                    class="btn btn-sm btn-light-primary font-weight-bolder">
                                                    <i class="fa fa-download"></i>Import
                                                </button>
                                            </div>
                                            <!--end::Dropdown-->
                                        </div>
                                    </div>

                                    <div class="card-body">
                                        <!--begin: Datatable-->
                                        <table class="table table-head-custom table-vertical-center" id="kt_datatable"
                                            style="margin-top: 13px !important">
                                            <thead>
                                                <tr>
                                                    <th>Clients</th>
                                                    <th>DateArrivéé</th>
                                                    <th>DateDépart</th>
                                                    <th>MontantArh</th>
                                                    <th class="pr-0 text-right">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for item in occuppes %}
                                                <tr>
                                                    <td>{{item.tclients.nom ~' '~ item.tclients.prenom}}</td>
                                                    <td>{{item.datedebut ? item.datedebut|date('d-m-Y') : ''}}</td>
                                                    <td>{{item.datefin ? item.datefin|date('d-m-Y') : ''}}</td>
                                                    <td>{{item.montantarh}}</td>
                                                    <td class="pr-0 text-right">
                                                        <a href="javascript:void(0)" data-target="#addchambre" id="confirmereservation"
                                                            data-id="{{item.id}}"
                                                            data-toggle="modal"
                                                            class="btn btn-icon btn-wa btn-hover-success btn-sm mx-3">
                                                            <span class="svg-icon svg-icon-primary svg-icon-2x">

                                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                    width="24px" height="24px" viewBox="0 0 24 24"
                                                                    version="1.1">
                                                                    <g stroke="none" stroke-width="1" fill="none"
                                                                        fill-rule="evenodd">
                                                                        <rect x="0" y="0" width="24" height="24" />
                                                                        <circle fill="#000000" opacity="0.3" cx="12"
                                                                            cy="12" r="10" />
                                                                        <path
                                                                            d="M16.7689447,7.81768175 C17.1457787,7.41393107 17.7785676,7.39211077 18.1823183,7.76894473 C18.5860689,8.1457787 18.6078892,8.77856757 18.2310553,9.18231825 L11.2310553,16.6823183 C10.8654446,17.0740439 10.2560456,17.107974 9.84920863,16.7592566 L6.34920863,13.7592566 C5.92988278,13.3998345 5.88132125,12.7685345 6.2407434,12.3492086 C6.60016555,11.9298828 7.23146553,11.8813212 7.65079137,12.2407434 L10.4229928,14.616916 L16.7689447,7.81768175 Z"
                                                                            fill="#000000" fill-rule="nonzero" />
                                                                    </g>
                                                                </svg>
                                                            </span>
                                                        </a>
                                                        <a href="{{path('isAnnuler', {'id': item.id})}}"
                                                            class="btn btn-icon btn-light btn-hover-danger btn-sm">
                                                            <span class="svg-icon svg-icon-primary svg-icon-2x">
                                                                <!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2020-12-10-081610/theme/html/demo6/dist/../src/media/svg/icons/Navigation/Close.svg--><svg
                                                                    xmlns="http://www.w3.org/2000/svg"
                                                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                    width="24px" height="24px" viewBox="0 0 24 24"
                                                                    version="1.1">
                                                                    <g stroke="none" stroke-width="1" fill="none"
                                                                        fill-rule="evenodd">
                                                                        <g transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) translate(4.000000, 4.000000)"
                                                                            fill="#000000">
                                                                            <rect x="0" y="7" width="16" height="2"
                                                                                rx="1" />
                                                                            <rect opacity="0.3"
                                                                                transform="translate(8.000000, 8.000000) rotate(-270.000000) translate(-8.000000, -8.000000) "
                                                                                x="0" y="7" width="16" height="2"
                                                                                rx="1" />
                                                                        </g>
                                                                    </g>
                                                                </svg>
                                                                <!--end::Svg Icon--></span>
                                                        </a>
                                                    </td>
                                                </tr>
                                                {% else %}
                                                <tr>
                                                    <td colspan="5">Auccune réservation en cours</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        <!--end: Datatable-->
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<!-- Modal attribuer une chambre-->
<div class="modal fade" id="addNew" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Attribuer une chambre</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <form class="form" id="newopt" method="POST" action="">
                    <div class="">
                        <div class="form-group row">
                            <div class="col-lg-12">
                                <label>* Clients:</label>
                                <select name="clients" id="" class="form-control form-control-sm">
                                    <option value="">Veuillez sélectionner un client</option>
                                    {% for client in clients %}
                                    <option value="{{client.id}}">{{client.nom ~' '~ client.prenom}}</option>
                                    {% endfor %}

                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-12">
                                <label>* DateDébut:</label>
                                <input type="datetime-local" name="datedebut" class="form-control form-control-sm"
                                    placeholder=""
                                    value="" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-12">
                                <label>* DateFin:</label>
                                <input type="datetime-local" name="datefin" class="form-control form-control-sm"
                                    placeholder=""
                                    value="" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary font-weight-bold" name="save"
                            value="valider">Enrégistrer</button>
                        <button type="button" class="btn btn-light-primary font-weight-bold"
                            data-dismiss="modal">Close</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<!-- Modal reserver une chambre-->
<div class="modal fade" id="addreserver" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Réserver une chambre</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <form class="form" id="newreserver" method="POST" action="">
                    <div class="">
                        <div class="form-group row">
                            <div class="col-lg-12">
                                <label>* Clients:</label>
                                <select name="clients" class="form-control form-control-sm">
                                    <option value="">Veuillez sélectionner un client</option>
                                    {% for client in clients %}
                                    <option value="{{client.id}}">{{client.nom ~' '~ client.prenom}}</option>
                                    {% endfor %}

                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-12">
                                <label>* DateDébut:</label>
                                <input type="date" name="datedebut" class="form-control form-control-sm" placeholder=""
                                    value="" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-12">
                                <label>* DateFin:</label>
                                <input type="date" name="datefin" class="form-control form-control-sm" placeholder=""
                                    value="" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-12">
                                <label>* MontantArh:</label>
                                <input type="number" name="montant" class="form-control form-control-sm" placeholder=""
                                    value="" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary font-weight-bold" name="save"
                            value="valider">Enrégistrer</button>
                        <button type="button" class="btn btn-light-primary font-weight-bold"
                            data-dismiss="modal">Close</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<!-- Modal attribuer une chambre pour la reservation-->
<div class="modal fade" id="addchambre" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Attribuer une chambre</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <form class="form" id="newaddchambre" method="POST" action="">
                    <div class="">
                        <div class="form-group row" >
                            <div class="col-lg-12">
                                <label>* Veuillez choisir la chambre:</label>
                                <select name="chambres" id="" class="form-control form-control-sm" required>
                                    <option value="">Veuillez sélectionner une chambre</option>
                                    {% for chambre in chambres %}
                                    <option value="{{chambre.id}}">{{chambre.numchambre}}</option>
                                    {% endfor %}

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary font-weight-bold" name="save"
                            value="valider">Valider</button>
                        <button type="button" class="btn btn-light-primary font-weight-bold"
                            data-dismiss="modal">Close</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

{% block javascripts %}
<script>
    $(document).ready(function () {

        FormValidation.formValidation(document.getElementById('newopt'), {
            fields: {
                datedebut: {
                    validators: {
                        notEmpty: {
                            message: 'La date de debut ne doit pas être null '
                        }
                    }
                },
                datefin: {
                    validators: {
                        notEmpty: {
                            message: 'La date de fin ne  doit pas être null '
                        }
                    }
                },

                clients: {
                    validators: {
                        notEmpty: {
                            message: 'Veuillez choisir un client'
                        }
                    }
                }
            },

            plugins: {
                trigger: new FormValidation.plugins.Trigger(),
                // Validate fields when clicking the Submit button
                submitButton: new FormValidation.plugins.SubmitButton(),
                // Submit the form when all fields are valid
                defaultSubmit: new FormValidation.plugins.DefaultSubmit(),
                // Bootstrap Framework Integration
                bootstrap: new FormValidation.plugins.Bootstrap({
                    eleInvalidClass: '',
                    eleValidClass: ''
                })
            }
        });

        FormValidation.formValidation(document.getElementById('newreserver'), {
            fields: {
                datedebut: {
                    validators: {
                        notEmpty: {
                            message: 'La date de debut ne doit pas être null '
                        }
                    }
                },
                datefin: {
                    validators: {
                        notEmpty: {
                            message: 'La date de fin ne doit pas être null '
                        }
                    }
                },

                clients: {
                    validators: {
                        notEmpty: {
                            message: 'Veuillez choisir un client'
                        }
                    }
                }
            },

            plugins: {
                trigger: new FormValidation.plugins.Trigger(),
                // Validate fields when clicking the Submit button
                submitButton: new FormValidation.plugins.SubmitButton(),
                // Submit the form when all fields are valid
                defaultSubmit: new FormValidation.plugins.DefaultSubmit(),
                // Bootstrap Framework Integration
                bootstrap: new FormValidation.plugins.Bootstrap({
                    eleInvalidClass: '',
                    eleValidClass: ''
                })
            }
        });

        $(document).on('click', '#buttonTable', function () {
            $('#grid').toggle();
            $('#table').toggle();
        });

        // soumission de formulaire sur le lien addroom
        $('body').on('click', '#edit', function () {
            document.forms.newopt.action = '/add/' + $(this).attr('data-id');
        });

        // soumission de formulaire sur le lien addreserv
        $('body').on('click', '#edit', function () {
            document.forms.newreserver.action = '/addreserv/';
        });

        // soumission de formulaire sur le lien addchambre
        $('body').on('click', '#confirmereservation', function () {
        document.forms.newaddchambre.action = '/reserver/' + $(this).attr('data-id');
        });

        //reuperation des valeurs
        $('body').on('click', '#showdata', function () {
            $('#nom').text($(this).attr('data-nom'));
            // $('#libelleSuivi2').select2().trigger('change');

        });

        // calendar
        window.onload = () => {
            var todayDate = moment().startOf('day');
            var YM = todayDate.format('YYYY-MM');
            var YESTERDAY = todayDate.clone().subtract(1, 'day').format('YYYY-MM-DD');
            var TODAY = todayDate.format('YYYY-MM-DD');
            var TOMORROW = todayDate.clone().add(1, 'day').format('YYYY-MM-DD');
            var evenements = $('#calendrier').data('val');

            // On va chercher la div dans le HTML
            let calendarEl = document.getElementById('calendrier');
            // On instancie le calendrier
            let calendar = new FullCalendar.Calendar(calendarEl, {
                locale: 'fr',
                // On charge le composant "dayGrid"
                plugins: ['bootstrap', 'interaction', 'dayGrid', 'timeGrid', 'list'],
                themeSystem: 'bootstrap',
                isRTL: KTUtil.isRTL(),
                nowIndicator: true,
                now: TODAY,
                eventLimit: true,
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                views: {
                    dayGridMonth: {
                        buttonText: 'month'
                    },
                    timeGridWeek: {
                        buttonText: 'week'
                    },
                    timeGridDay: {
                        buttonText: 'day'
                    }
                },
                height: 800,
                contentHeight: 780,
                aspectRatio: 3,
                nowIndicator: true,

                ddefaultView: 'dayGridMonth',
                buttonText: {
                    today: 'Aujourd\'hui',
                    month: 'Mois',
                    week: 'Semaine',
                    day: 'Jour',
                    list: 'Liste'
                },
                events: evenements,

            });

            // On affiche le calendrier
            calendar.render();
        }

        $("#catList").change(function () {
            var filter = $(this).find(':selected').attr('data-filter');
            if (filter == 'all'){
                $(".card").show('1000');
            }else{
                console.log($('.'+filter));
               $(".card").filter($('.'+filter)).show();
                $(".card").not('.'+filter).hide('1000');
              
            }
        });
    });
</script>
{% endblock javascripts %}

{% endblock %}