
{% block title %}{% endblock %}

{% block body %}

{{ form_start(form) }}

    <div class="card card-custom gutter-b example example-compact">
    <div class="card-header">
        <h3 class="card-title">Input Sizing</h3>
    </div>
        <div class="card-body">
            <div class="form-group">
               {{ form_row(form.intitule)}}
            </div>
        </div>
        <div class="card-footer">
             <button class="btn btn-success mr-2">{{ button_label|default('Save') }}</button>
            <button type="reset" class="btn btn-secondary">Cancel</button>
        </div>
</div>        

{{ form_end(form) }}
   
{% endblock %}
