{% extends 'base.html.twig' %}

{% block title %}Ptypesociete{% endblock %}

{% block body %}
    <h1>Ptypesociete</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ptypesociete.id }}</td>
            </tr>
            <tr>
                <th>Intitule</th>
                <td>{{ ptypesociete.intitule }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ptypesociete_index') }}">back to list</a>

    <a href="{{ path('ptypesociete_edit', {'id': ptypesociete.id}) }}">edit</a>

    {{ include('ptypesociete/_delete_form.html.twig') }}
{% endblock %}
