{% extends 'base.html.twig' %}

{% block title %}New Poption{% endblock %}

{% block body %}
    <h1>Create new Poption</h1>

    {{ include('poption/_form.html.twig') }}

    <a href="{{ path('poption_index') }}">back to list</a>
{% endblock %}
