{% extends 'base.html.twig' %}

{% block title %}Poption{% endblock %}

{% block body %}
    <h1>Poption</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ poption.id }}</td>
            </tr>
            <tr>
                <th>Intitule</th>
                <td>{{ poption.intitule }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('poption_index') }}">back to list</a>

    <a href="{{ path('poption_edit', {'id': poption.id}) }}">edit</a>

    {{ include('poption/_delete_form.html.twig') }}
{% endblock %}
