
  <head>
   
    <meta charset="utf-8" />
    <title>Zooh</title>
    <meta name="description" content="Updates and statistics" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="canonical" href="https://keenthemes.com/metronic" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"
    />
    <link
      href="{{
        asset(
          'assets/plugins/custom/fullcalendar/fullcalendar.bundle8414.css?v=7.1.7'
        )
      }}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{{ asset('assets/plugins/global/plugins.bundle8414.css?v=7.1.7') }}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{{
        asset('assets/plugins/custom/prismjs/prismjs.bundle8414.css?v=7.1.7')
      }}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{{ asset('assets/css/style.bundle8414.css?v=7.1.7') }}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{{
        asset(
          'assets/plugins/custom/datatables/datatables.bundle8414.css?v=7.1.7'
        )
      }}"
      rel="stylesheet"
      type="text/css"
    />
  </head>
