
    
    <div id="kt_header_mobile" class="header-mobile header-mobile-fixed">
      <a href="index.html">
        <img
          alt="Logo"
          src="{{ asset('assets/media/logos/logo-letter-1.png') }}"
          class="logo-default max-h-30px"
        />
      </a>

      <div class="d-flex align-items-center">
        <button
          class="btn rounded-0 p-0 burger-icon burger-icon-left"
          id="kt_header_mobile_toggle"
        >
          <span></span>
        </button>
        <button
          class="btn btn-hover-icon-primary p-0 ml-5"
          id="kt_sidebar_mobile_toggle"
        >
          <span class="svg-icon svg-icon-xl">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="24px"
              height="24px"
              viewBox="0 0 24 24"
              version="1.1"
            >
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <rect x="0" y="0" width="24" height="24" />
                <path
                  d="M6,9 L6,15 C6,16.6568542 7.34314575,18 9,18 L15,18 L15,18.8181818 C15,20.2324881 14.2324881,21 12.8181818,21 L5.18181818,21 C3.76751186,21 3,20.2324881 3,18.8181818 L3,11.1818182 C3,9.76751186 3.76751186,9 5.18181818,9 L6,9 Z"
                  fill="#000000"
                  fill-rule="nonzero"
                />
                <path
                  d="M10.1818182,4 L17.8181818,4 C19.2324881,4 20,4.76751186 20,6.18181818 L20,13.8181818 C20,15.2324881 19.2324881,16 17.8181818,16 L10.1818182,16 C8.76751186,16 8,15.2324881 8,13.8181818 L8,6.18181818 C8,4.76751186 8.76751186,4 10.1818182,4 Z"
                  fill="#000000"
                  opacity="0.3"
                />
              </g>
            </svg>
          </span>
        </button>
        <button
          class="btn btn-hover-icon-primary p-0 ml-2"
          id="kt_aside_mobile_toggle"
        >
          <span class="svg-icon svg-icon-xl">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="24px"
              height="24px"
              viewBox="0 0 24 24"
              version="1.1"
            >
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <polygon points="0 0 24 0 24 24 0 24" />
                <path
                  d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z"
                  fill="#000000"
                  fill-rule="nonzero"
                  opacity="0.3"
                />
                <path
                  d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z"
                  fill="#000000"
                  fill-rule="nonzero"
                />
              </g>
            </svg>
          </span>
        </button>
      </div>
    </div>
    <div class="d-flex flex-column flex-root">
      <!--begin::Page-->
      <div class="d-flex flex-row flex-column-fluid page">
        <!--begin::Aside-->
        <div class="aside aside-left d-flex flex-column" id="kt_aside">
          <!--begin::Brand-->
          <div
            class="aside-brand d-flex flex-column align-items-center flex-column-auto pt-5 pt-lg-18 pb-10"
          >
            <!--begin::Logo-->
            <div
              class="btn p-0 symbol symbol-60 symbol-light-primary"
              href="index.html"
              id="kt_quick_user_toggle"
            >
              <div class="symbol-label">
                <img
                  alt="Logo"
                  src="https://preview.keenthemes.com/metronic/theme/html/demo6/dist/assets/media/svg/avatars/001-boy.svg"
                  class="h-75 align-self-end"
                />
              </div>
            </div>
            <!--end::Logo-->
          </div>

          <div
            class="aside-nav d-flex flex-column align-items-center flex-column-fluid pb-10"
          >
            <!--begin::Nav-->
            <ul class="nav flex-column">
              <!--begin::Item-->
              <li
                class="nav-item mb-2"
                data-toggle="tooltip"
                data-placement="right"
                data-container="body"
                data-boundary="window"
                title="Latest Projects"
              >
                <a
                  href="#"
                  class="nav-link btn btn-icon btn-hover-text-primary btn-lg active"
                >
                  <span class="svg-icon svg-icon-xxl">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      width="24px"
                      height="24px"
                      viewBox="0 0 24 24"
                      version="1.1"
                    >
                      <g
                        stroke="none"
                        stroke-width="1"
                        fill="none"
                        fill-rule="evenodd"
                      >
                        <rect x="0" y="0" width="24" height="24" />
                        <rect
                          fill="#000000"
                          x="4"
                          y="4"
                          width="7"
                          height="7"
                          rx="1.5"
                        />
                        <path
                          d="M5.5,13 L9.5,13 C10.3284271,13 11,13.6715729 11,14.5 L11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L5.5,20 C4.67157288,20 4,19.3284271 4,18.5 L4,14.5 C4,13.6715729 4.67157288,13 5.5,13 Z M14.5,4 L18.5,4 C19.3284271,4 20,4.67157288 20,5.5 L20,9.5 C20,10.3284271 19.3284271,11 18.5,11 L14.5,11 C13.6715729,11 13,10.3284271 13,9.5 L13,5.5 C13,4.67157288 13.6715729,4 14.5,4 Z M14.5,13 L18.5,13 C19.3284271,13 20,13.6715729 20,14.5 L20,18.5 C20,19.3284271 19.3284271,20 18.5,20 L14.5,20 C13.6715729,20 13,19.3284271 13,18.5 L13,14.5 C13,13.6715729 13.6715729,13 14.5,13 Z"
                          fill="#000000"
                          opacity="0.3"
                        />
                      </g>
                    </svg>
                  </span>
                </a>
              </li>

              <li
                class="nav-item mb-2"
                data-toggle="tooltip"
                data-placement="right"
                data-container="body"
                data-boundary="window"
                title="Metronic Features"
              >
                <a
                  href="#"
                  class="nav-link btn btn-icon btn-hover-text-primary btn-lg"
                  data-toggle="tab"
                  data-target="#kt_aside_tab_2"
                  role="tab"
                >
                  <span class="svg-icon svg-icon-xxl">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      width="24px"
                      height="24px"
                      viewBox="0 0 24 24"
                      version="1.1"
                    >
                      <g
                        stroke="none"
                        stroke-width="1"
                        fill="none"
                        fill-rule="evenodd"
                      >
                        <polygon points="0 0 24 0 24 24 0 24" />
                        <path
                          d="M18,14 C16.3431458,14 15,12.6568542 15,11 C15,9.34314575 16.3431458,8 18,8 C19.6568542,8 21,9.34314575 21,11 C21,12.6568542 19.6568542,14 18,14 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z"
                          fill="#000000"
                          fill-rule="nonzero"
                          opacity="0.3"
                        />
                        <path
                          d="M17.6011961,15.0006174 C21.0077043,15.0378534 23.7891749,16.7601418 23.9984937,20.4 C24.0069246,20.5466056 23.9984937,21 23.4559499,21 L19.6,21 C19.6,18.7490654 18.8562935,16.6718327 17.6011961,15.0006174 Z M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 -0.0204617505,20.45918 0.00065168429,20.1992055 Z"
                          fill="#000000"
                          fill-rule="nonzero"
                        />
                      </g>
                    </svg>
                  </span>
                </a>
              </li>
            </ul>
            <!--end::Nav-->
          </div>
        </div>

        <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
          <!--begin::Header-->
          <div id="kt_header" class="header header-fixed">
            <!--begin::Header Wrapper-->
            <div
              class="header-wrapper rounded-top-xl d-flex flex-grow-1 align-items-center"
            >
              <!--begin::Container-->
              <div
                class="container-fluid d-flex align-items-center justify-content-end justify-content-lg-between flex-wrap"
              >
                <!--begin::Menu Wrapper-->
                <div
                  class="header-menu-wrapper header-menu-wrapper-left py-lg-2"
                  id="kt_header_menu_wrapper"
                >
                  <!--begin::Menu-->
                  <div
                    id="kt_header_menu"
                    class="header-menu header-menu-mobile header-menu-layout-default"
                  >
                    <!--begin::Nav-->
                    <ul class="menu-nav">
                      <li
                        class="menu-item menu-item-active"
                        aria-haspopup="true"
                      >
                        <a href="index.html" class="menu-link">
                          <span class="menu-text">Dashboard</span>
                        </a>
                      </li>
                      <li
                        class="menu-item menu-item-submenu menu-item-rel"
                        data-menu-toggle="click"
                        aria-haspopup="true"
                      >
                        <a href="javascript:;" class="menu-link menu-toggle">
                          <span class="menu-text">Features</span>
                          <span class="menu-desc"></span>
                          <i class="menu-arrow"></i>
                        </a>
                        <div
                          class="menu-submenu menu-submenu-classic menu-submenu-left"
                        >
                          <ul class="menu-subnav">
                            <li
                              class="menu-item menu-item-submenu"
                              data-menu-toggle="hover"
                              aria-haspopup="true"
                            >
                              <a
                                href="javascript:;"
                                class="menu-link menu-toggle"
                              >
                                <span class="svg-icon menu-icon">
                                  <!--begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/svg/icons/Communication/Add-user.svg-->
                                  <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="24px"
                                    height="24px"
                                    viewBox="0 0 24 24"
                                    version="1.1"
                                  >
                                    <g
                                      stroke="none"
                                      stroke-width="1"
                                      fill="none"
                                      fill-rule="evenodd"
                                    >
                                      <polygon points="0 0 24 0 24 24 0 24" />
                                      <path
                                        d="M18,8 L16,8 C15.4477153,8 15,7.55228475 15,7 C15,6.44771525 15.4477153,6 16,6 L18,6 L18,4 C18,3.44771525 18.4477153,3 19,3 C19.5522847,3 20,3.44771525 20,4 L20,6 L22,6 C22.5522847,6 23,6.44771525 23,7 C23,7.55228475 22.5522847,8 22,8 L20,8 L20,10 C20,10.5522847 19.5522847,11 19,11 C18.4477153,11 18,10.5522847 18,10 L18,8 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z"
                                        fill="#000000"
                                        fill-rule="nonzero"
                                        opacity="0.3"
                                      />
                                      <path
                                        d="M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 -0.0204617505,20.45918 0.00065168429,20.1992055 Z"
                                        fill="#000000"
                                        fill-rule="nonzero"
                                      />
                                    </g>
                                  </svg>
                                  <!--end::Svg Icon-->
                                </span>
                                <span class="menu-text">param</span>
                                <i class="menu-arrow"></i>
                              </a>
                              <div
                                class="menu-submenu menu-submenu-classic menu-submenu-right"
                              >
                                <ul class="menu-subnav">
                                  <li class="menu-item" aria-haspopup="true">
                                    <a
                                      href="{{ path('ptypesociete_index') }}"
                                      class="menu-link"
                                    >
                                      <i class="menu-bullet menu-bullet-dot">
                                        <span></span>
                                      </i>
                                      <span class="menu-text">TypeSociete</span>
                                    </a>
                                  </li>
                                  <li class="menu-item" aria-haspopup="true">
                                    <a
                                      href="{{ path('psociete_index') }}"
                                      class="menu-link"
                                    >
                                      <i class="menu-bullet menu-bullet-dot">
                                        <span></span>
                                      </i>
                                      <span class="menu-text">societe</span>
                                    </a>
                                  </li>
                                </ul>
                              </div>
                            </li>
                            <li
                              class="menu-item menu-item-submenu"
                              data-menu-toggle="hover"
                              aria-haspopup="true"
                            >
                              <a
                                href="javascript:;"
                                class="menu-link menu-toggle"
                              >
                                <span class="svg-icon menu-icon">
                                  <!--begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/svg/icons/Files/Pictures1.svg-->
                                  <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="24px"
                                    height="24px"
                                    viewBox="0 0 24 24"
                                    version="1.1"
                                  >
                                    <g
                                      stroke="none"
                                      stroke-width="1"
                                      fill="none"
                                      fill-rule="evenodd"
                                    >
                                      <rect
                                        x="0"
                                        y="0"
                                        width="24"
                                        height="24"
                                      />
                                      <path
                                        d="M3.5,21 L20.5,21 C21.3284271,21 22,20.3284271 22,19.5 L22,8.5 C22,7.67157288 21.3284271,7 20.5,7 L10,7 L7.43933983,4.43933983 C7.15803526,4.15803526 6.77650439,4 6.37867966,4 L3.5,4 C2.67157288,4 2,4.67157288 2,5.5 L2,19.5 C2,20.3284271 2.67157288,21 3.5,21 Z"
                                        fill="#000000"
                                        opacity="0.3"
                                      />
                                      <polygon
                                        fill="#000000"
                                        opacity="0.3"
                                        points="4 19 10 11 16 19"
                                      />
                                      <polygon
                                        fill="#000000"
                                        points="11 19 15 14 19 19"
                                      />
                                      <path
                                        d="M18,12 C18.8284271,12 19.5,11.3284271 19.5,10.5 C19.5,9.67157288 18.8284271,9 18,9 C17.1715729,9 16.5,9.67157288 16.5,10.5 C16.5,11.3284271 17.1715729,12 18,12 Z"
                                        fill="#000000"
                                        opacity="0.3"
                                      />
                                    </g>
                                  </svg>
                                  <!--end::Svg Icon-->
                                </span>
                                <span class="menu-text">Custom</span>
                                <i class="menu-arrow"></i>
                              </a>
                              <div
                                class="menu-submenu menu-submenu-classic menu-submenu-right"
                              >
                                <ul class="menu-subnav">
                                  <li class="menu-item" aria-haspopup="true">
                                    <a
                                      href="{{ path('tcategorie_index') }}"
                                      class="menu-link"
                                    >
                                      <i class="menu-bullet menu-bullet-dot">
                                        <span></span>
                                      </i>
                                      <span class="menu-text">Categorie</span>
                                    </a>
                                  </li>
                                  <li class="menu-item" aria-haspopup="true">
                                    <a
                                      href="features/custom/accordions.html"
                                      class="menu-link"
                                    >
                                      <i class="menu-bullet menu-bullet-dot">
                                        <span></span>
                                      </i>
                                      <span class="menu-text">Accordions</span>
                                    </a>
                                  </li>
                                </ul>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </li>

                      <li
                        class="menu-item menu-item-submenu menu-item-rel"
                        data-menu-toggle="click"
                        aria-haspopup="true"
                      >
                        <a href="javascript:;" class="menu-link menu-toggle">
                          <span class="menu-text">Apps</span>
                          <span class="menu-desc"></span>
                          <i class="menu-arrow"></i>
                        </a>
                        <div
                          class="menu-submenu menu-submenu-classic menu-submenu-left"
                        >
                          <ul class="menu-subnav">
                            <li
                              class="menu-item menu-item-submenu"
                              data-menu-toggle="hover"
                              aria-haspopup="true"
                            >
                              <a
                                href="javascript:;"
                                class="menu-link menu-toggle"
                              >
                                <span class="svg-icon menu-icon">
                                  <!--begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/svg/icons/Shopping/Gift.svg-->
                                  <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="24px"
                                    height="24px"
                                    viewBox="0 0 24 24"
                                    version="1.1"
                                  >
                                    <g
                                      stroke="none"
                                      stroke-width="1"
                                      fill="none"
                                      fill-rule="evenodd"
                                    >
                                      <rect
                                        x="0"
                                        y="0"
                                        width="24"
                                        height="24"
                                      />
                                      <path
                                        d="M4,6 L20,6 C20.5522847,6 21,6.44771525 21,7 L21,8 C21,8.55228475 20.5522847,9 20,9 L4,9 C3.44771525,9 3,8.55228475 3,8 L3,7 C3,6.44771525 3.44771525,6 4,6 Z M5,11 L10,11 C10.5522847,11 11,11.4477153 11,12 L11,19 C11,19.5522847 10.5522847,20 10,20 L5,20 C4.44771525,20 4,19.5522847 4,19 L4,12 C4,11.4477153 4.44771525,11 5,11 Z M14,11 L19,11 C19.5522847,11 20,11.4477153 20,12 L20,19 C20,19.5522847 19.5522847,20 19,20 L14,20 C13.4477153,20 13,19.5522847 13,19 L13,12 C13,11.4477153 13.4477153,11 14,11 Z"
                                        fill="#000000"
                                      />
                                      <path
                                        d="M14.4452998,2.16794971 C14.9048285,1.86159725 15.5256978,1.98577112 15.8320503,2.4452998 C16.1384028,2.90482849 16.0142289,3.52569784 15.5547002,3.83205029 L12,6.20185043 L8.4452998,3.83205029 C7.98577112,3.52569784 7.86159725,2.90482849 8.16794971,2.4452998 C8.47430216,1.98577112 9.09517151,1.86159725 9.5547002,2.16794971 L12,3.79814957 L14.4452998,2.16794971 Z"
                                        fill="#000000"
                                        fill-rule="nonzero"
                                        opacity="0.3"
                                      />
                                    </g>
                                  </svg>
                                  <!--end::Svg Icon-->
                                </span>
                                <span class="menu-text">Users</span>
                                <i class="menu-arrow"></i>
                              </a>
                              <div
                                class="menu-submenu menu-submenu-classic menu-submenu-right"
                              >
                                <ul class="menu-subnav">
                                  <li class="menu-item" aria-haspopup="true">
                                    <a
                                      href="custom/apps/user/list-default.html"
                                      class="menu-link"
                                    >
                                      <i class="menu-bullet menu-bullet-dot">
                                        <span></span>
                                      </i>
                                      <span class="menu-text"
                                        >List - Default</span
                                      >
                                    </a>
                                  </li>
                                </ul>
                              </div>
                            </li>
                            <li
                              class="menu-item menu-item-submenu"
                              data-menu-toggle="hover"
                              aria-haspopup="true"
                            >
                              <a
                                href="javascript:;"
                                class="menu-link menu-toggle"
                              >
                                <span class="svg-icon menu-icon">
                                  <!--begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/svg/icons/Communication/Address-card.svg-->
                                  <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="24px"
                                    height="24px"
                                    viewBox="0 0 24 24"
                                    version="1.1"
                                  >
                                    <g
                                      stroke="none"
                                      stroke-width="1"
                                      fill="none"
                                      fill-rule="evenodd"
                                    >
                                      <rect
                                        x="0"
                                        y="0"
                                        width="24"
                                        height="24"
                                      />
                                      <path
                                        d="M6,2 L18,2 C19.6568542,2 21,3.34314575 21,5 L21,19 C21,20.6568542 19.6568542,22 18,22 L6,22 C4.34314575,22 3,20.6568542 3,19 L3,5 C3,3.34314575 4.34314575,2 6,2 Z M12,11 C13.1045695,11 14,10.1045695 14,9 C14,7.8954305 13.1045695,7 12,7 C10.8954305,7 10,7.8954305 10,9 C10,10.1045695 10.8954305,11 12,11 Z M7.00036205,16.4995035 C6.98863236,16.6619875 7.26484009,17 7.4041679,17 C11.463736,17 14.5228466,17 16.5815,17 C16.9988413,17 17.0053266,16.6221713 16.9988413,16.5 C16.8360465,13.4332455 14.6506758,12 11.9907452,12 C9.36772908,12 7.21569918,13.5165724 7.00036205,16.4995035 Z"
                                        fill="#000000"
                                      />
                                    </g>
                                  </svg>
                                  <!--end::Svg Icon-->
                                </span>
                                <span class="menu-text">Profile</span>
                                <i class="menu-arrow"></i>
                              </a>
                              <div
                                class="menu-submenu menu-submenu-classic menu-submenu-right"
                              >
                                <ul class="menu-subnav">
                                  <li class="menu-item" aria-haspopup="true">
                                    <a
                                      href="custom/apps/profile/profile-2.html"
                                      class="menu-link"
                                    >
                                      <i class="menu-bullet menu-bullet-dot">
                                        <span></span>
                                      </i>
                                      <span class="menu-text">Profile 2</span>
                                    </a>
                                  </li>
                                  <li class="menu-item" aria-haspopup="true">
                                    <a
                                      href="custom/apps/profile/profile-3.html"
                                      class="menu-link"
                                    >
                                      <i class="menu-bullet menu-bullet-dot">
                                        <span></span>
                                      </i>
                                      <span class="menu-text">Profile 3</span>
                                    </a>
                                  </li>
                                </ul>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </li>
                    </ul>
                    <!--end::Nav-->
                  </div>
                  <!--end::Menu-->
                </div>
              </div>
              <!--end::Container-->
            </div>
            <!--end::Header Wrapper-->
          </div>
          <!--end::Header-->
          <!--begin::Content-->
          <div
            class="content d-flex flex-column flex-column-fluid"
            id="kt_content"
          >
            <!--begin::Entry-->
            <div class="d-flex flex-column-fluid">
              <!--begin::Container-->
              <div class="container">{% block body %} {% endblock %}</div>
              <!--end::Container-->
            </div>
            <!--end::Entry-->
          </div>
          <!--end::Content-->
          <!--begin::Footer-->
          <div
            class="footer py-2 py-lg-0 my-5 d-flex flex-lg-column"
            id="kt_footer"
          >
            <!--begin::Container-->
            <div
              class="container-fluid d-flex flex-column flex-md-row align-items-center justify-content-between"
            >
              <!--begin::Copyright-->
              <div class="text-dark order-2 order-md-1">
                <span class="text-muted font-weight-bold mr-2">2020©</span>
                <a
                  href="http://keenthemes.com/metronic"
                  target="_blank"
                  class="text-dark-75 text-hover-primary"
                  >Keenthemes</a
                >
              </div>
            </div>
            <!--end::Container-->
          </div>
          <!--end::Footer-->
        </div>
      </div>
      <!--end::Page-->
    </div>

    <div id="kt_quick_user" class="offcanvas offcanvas-left p-10">
      <!--begin::Header-->
      <div
        class="offcanvas-header d-flex align-items-center justify-content-between pb-5"
      >
        <h3 class="font-weight-bold m-0">
          User Profile
          <small class="text-muted font-size-sm ml-2">12 messages</small>
        </h3>
        <a
          href="#"
          class="btn btn-xs btn-icon btn-light btn-hover-primary"
          id="kt_quick_user_close"
        >
          <i class="ki ki-close icon-xs text-muted"></i>
        </a>
      </div>

      <div class="offcanvas-content pr-5 mr-n5">
        <!--begin::Header-->
        <div class="d-flex align-items-center mt-5">
          <div class="symbol symbol-100 mr-5">
            <div
              class="symbol-label"
              style="
                background-image: url('../theme/html/demo6/dist/assets/media/users/300_21.jpg');
              "
            ></div>
            <i class="symbol-badge bg-success"></i>
          </div>
          <div class="d-flex flex-column">
            <a
              href="#"
              class="font-weight-bold font-size-h5 text-dark-75 text-hover-primary"
              >James Jones</a
            >
            <div class="text-muted mt-1">Application Developer</div>
            <div class="navi mt-2">
              <a href="#" class="navi-item">
                <span class="navi-link p-0 pb-2">
                  <span class="navi-icon mr-1">
                    <span class="svg-icon svg-icon-lg svg-icon-primary">
                      <!--begin::Svg Icon | path:/metronic/theme/html/demo6/dist/assets/media/svg/icons/Communication/Mail-notification.svg-->
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        width="24px"
                        height="24px"
                        viewBox="0 0 24 24"
                        version="1.1"
                      >
                        <g
                          stroke="none"
                          stroke-width="1"
                          fill="none"
                          fill-rule="evenodd"
                        >
                          <rect x="0" y="0" width="24" height="24" />
                          <path
                            d="M21,12.0829584 C20.6747915,12.0283988 20.3407122,12 20,12 C16.6862915,12 14,14.6862915 14,18 C14,18.3407122 14.0283988,18.6747915 14.0829584,19 L5,19 C3.8954305,19 3,18.1045695 3,17 L3,8 C3,6.8954305 3.8954305,6 5,6 L19,6 C20.1045695,6 21,6.8954305 21,8 L21,12.0829584 Z M18.1444251,7.83964668 L12,11.1481833 L5.85557487,7.83964668 C5.4908718,7.6432681 5.03602525,7.77972206 4.83964668,8.14442513 C4.6432681,8.5091282 4.77972206,8.96397475 5.14442513,9.16035332 L11.6444251,12.6603533 C11.8664074,12.7798822 12.1335926,12.7798822 12.3555749,12.6603533 L18.8555749,9.16035332 C19.2202779,8.96397475 19.3567319,8.5091282 19.1603533,8.14442513 C18.9639747,7.77972206 18.5091282,7.6432681 18.1444251,7.83964668 Z"
                            fill="#000000"
                          />
                          <circle
                            fill="#000000"
                            opacity="0.3"
                            cx="19.5"
                            cy="17.5"
                            r="2.5"
                          />
                        </g>
                      </svg>
                      <!--end::Svg Icon-->
                    </span>
                  </span>
                  <span class="navi-text text-muted text-hover-primary"
                    >jm@softplus.com</span
                  >
                </span>
              </a>
              <a
                href="#"
                class="btn btn-sm btn-light-primary font-weight-bolder py-2 px-5"
                >Sign Out</a
              >
            </div>
          </div>
        </div>
        <!--end::Header-->
        <!--begin::Separator-->
        <div class="separator separator-dashed mt-8 mb-5"></div>
        <!--end::Separator-->
        <!--begin::Nav-->
        <div class="navi navi-spacer-x-0 p-0">
          <!--begin::Item-->
          <a
            href="custom/apps/user/profile-1/personal-information.html"
            class="navi-item"
          >
            <div class="navi-link">
              <div class="symbol symbol-40 bg-light mr-3">
                <div class="symbol-label">
                  <span class="svg-icon svg-icon-md svg-icon-success">
                    <!--begin::Svg Icon | path:/metronic/theme/html/demo6/dist/assets/media/svg/icons/General/Notification2.svg-->
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      width="24px"
                      height="24px"
                      viewBox="0 0 24 24"
                      version="1.1"
                    >
                      <g
                        stroke="none"
                        stroke-width="1"
                        fill="none"
                        fill-rule="evenodd"
                      >
                        <rect x="0" y="0" width="24" height="24" />
                        <path
                          d="M13.2070325,4 C13.0721672,4.47683179 13,4.97998812 13,5.5 C13,8.53756612 15.4624339,11 18.5,11 C19.0200119,11 19.5231682,10.9278328 20,10.7929675 L20,17 C20,18.6568542 18.6568542,20 17,20 L7,20 C5.34314575,20 4,18.6568542 4,17 L4,7 C4,5.34314575 5.34314575,4 7,4 L13.2070325,4 Z"
                          fill="#000000"
                        />
                        <circle
                          fill="#000000"
                          opacity="0.3"
                          cx="18.5"
                          cy="5.5"
                          r="2.5"
                        />
                      </g>
                    </svg>
                    <!--end::Svg Icon-->
                  </span>
                </div>
              </div>
              <div class="navi-text">
                <div class="font-weight-bold">My Profile</div>
                <div class="text-muted">
                  Account settings and more
                  <span
                    class="label label-light-danger label-inline font-weight-bold"
                    >update</span
                  >
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="separator separator-dashed my-7"></div>
      </div>
      <!--end::Content-->
    </div>

    <div id="kt_scrolltop" class="scrolltop">
      <span class="svg-icon">
        <!--begin::Svg Icon | path:/metronic/theme/html/demo6/dist/assets/media/svg/icons/Navigation/Up-2.svg-->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="24px"
          height="24px"
          viewBox="0 0 24 24"
          version="1.1"
        >
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <polygon points="0 0 24 0 24 24 0 24" />
            <rect
              fill="#000000"
              opacity="0.3"
              x="11"
              y="10"
              width="2"
              height="10"
              rx="1"
            />
            <path
              d="M6.70710678,12.7071068 C6.31658249,13.0976311 5.68341751,13.0976311 5.29289322,12.7071068 C4.90236893,12.3165825 4.90236893,11.6834175 5.29289322,11.2928932 L11.2928932,5.29289322 C11.6714722,4.91431428 12.2810586,4.90106866 12.6757246,5.26284586 L18.6757246,10.7628459 C19.0828436,11.1360383 19.1103465,11.7686056 18.7371541,12.1757246 C18.3639617,12.5828436 17.7313944,12.6103465 17.3242754,12.2371541 L12.0300757,7.38413782 L6.70710678,12.7071068 Z"
              fill="#000000"
              fill-rule="nonzero"
            />
          </g>
        </svg>
        <!--end::Svg Icon-->
      </span>
    </div>