{% extends 'base.html.twig' %}

{% block title %}New Psociete{% endblock %}

{% block body %}

<div class="flex-row-fluid ml-lg-8">
    <!--begin::Card-->
    <div class="card card-custom card-stretch">
        <!--begin::Header-->
        <div class="card-header py-3">
            <div class="card-title align-items-start flex-column">
                <h3 class="card-label font-weight-bolder text-dark">Information Société</h3>

            </div>
            <!-- <div class="card-toolbar">
                <button type="reset" class="btn btn-success mr-2">Save Changes</button>
                <button type="reset" class="btn btn-secondary">Modifier</button>
            </div> -->
        </div>
        <!--end::Header-->
        <!--begin::Form-->
        <form class="form" method="POST">
            <!--begin::Body-->

            <div class="card-body">
                <div class="row">
                    <label class="col-xl-3"></label>
                    <div class="col-lg-9 col-xl-6">
                        <h5 class="font-weight-bold mb-6"></h5>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xl-3 col-lg-3 col-form-label">Logo</label>
                    <div class="col-lg-9 col-xl-6">
                        <div class="image-input image-input-outline" id="kt_profile_avatar"
                            style="background-image: url(../../../../../theme/html/demo6/dist/assets/media/users/blank.png)">
                            <div class="image-input-wrapper"
                                style="background-image: url(../../../../../theme/html/demo6/dist/assets/media/users/300_21.jpg)">
                            </div>
                            <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                                data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                                <i class="fa fa-pen icon-sm text-muted"></i>
                                <input type="file" name="profile_avatar" accept=".png, .jpg, .jpeg" />
                                <input type="hidden" name="profile_avatar_remove" />
                            </label>

                        </div>

                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-xl-3 col-lg-3 col-form-label">Nom Société</label>
                    <div class="col-lg-9 col-xl-6">
                        <input class="form-control form-control-lg form-control-solid" type="text"
                            value="{{psociete != null and psociete.nomsocite ? psociete.nomsocite : ''}}" name="nom" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xl-3 col-lg-3 col-form-label">Adresse</label>
                    <div class="col-lg-9 col-xl-6">
                        <input class="form-control form-control-lg form-control-solid" type="text"
                            value="{{psociete != null and psociete.adresse ? psociete.adresse : ''}}" name="adresse" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xl-3 col-lg-3 col-form-label">IFU</label>
                    <div class="col-lg-9 col-xl-6">
                        <input class="form-control form-control-lg form-control-solid" type="text"
                            value="{{psociete != null and psociete.ifu ? psociete.ifu : '' }}" name="ifu" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xl-3 col-lg-3 col-form-label">RCCM</label>
                    <div class="col-lg-9 col-xl-6">
                        <input class="form-control form-control-lg form-control-solid" type="text"
                            value="{{psociete != null and psociete.rccm ? psociete.rccm : ''}}" name="rccm" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xl-3 col-lg-3 col-form-label">Contact</label>
                    <div class="col-lg-9 col-xl-6">
                        <input class="form-control form-control-lg form-control-solid" type="text"
                            value="{{psociete != null and psociete.telephone ? psociete.telephone : ''}}" name="tel" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xl-3 col-lg-3 col-form-label">MCF</label>
                    <div class="col-lg-9 col-xl-6">
                        <input class="form-control form-control-lg form-control-solid" type="text"
                            value="{{psociete != null and psociete.mcf ? psociete.mcf : ''}}" name="mcf" />
                    </div>
                </div>

                {# <div class="form-group row">
                    <label class="col-xl-3 col-lg-3 col-form-label">Email</label>
                    <div class="col-lg-9 col-xl-6">
                        <input class="form-control form-control-lg form-control-solid" type="text" value="{{psociete.email}}" name="email" />
                    </div>
                </div> #}

                <div class="form-group row">
                    <label class="col-xl-3 col-lg-3 col-form-label">Typesociete</label>
                    <div class="col-lg-9 col-xl-6">
                        <select name="typesocietes" id="" class="form-control form-control-lg form-control-solid">
                            <option value=""> Veuillez selectionner</option>
                            {% for typesociete in typesocietes %}
                            <option value="{{typesociete.id}}" {{typesociete.id == tp ? 'selected': ''}}>
                                {{typesociete.intitule}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="card-toolbar ">
                    <button type="submit" class="btn btn-success btn-sm mr-2" name="enregistrer">Save Changes</button>
                    <a href="" class="btn btn-secondary btn-sm">Modifier</a>

                </div>
            </div>

            <!--end::Body-->
        </form>
        <!--end::Form-->
    </div>
</div>


{#{{ include('psociete/_form.html.twig') }}#}
{% endblock %}