{% extends 'base.html.twig' %}

{% block title %}Psociete{% endblock %}

{% block body %}
    <h1>Psociete</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ psociete.id }}</td>
            </tr>
            <tr>
                <th>Nomsocite</th>
                <td>{{ psociete.nomsocite }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ psociete.adresse }}</td>
            </tr>
            <tr>
                <th>Ifu</th>
                <td>{{ psociete.ifu }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ psociete.telephone }}</td>
            </tr>
            <tr>
                <th>Mcf</th>
                <td>{{ psociete.mcf }}</td>
            </tr>
            <tr>
                <th>Rccm</th>
                <td>{{ psociete.rccm }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('psociete_index') }}">back to list</a>

    <a href="{{ path('psociete_edit', {'id': psociete.id}) }}">edit</a>

    {{ include('psociete/_delete_form.html.twig') }}
{% endblock %}
