{% extends 'base.html.twig' %}

{% block title %}Edit Tclient{% endblock %}

{% block body %}
    <h1>Edit Tclient</h1>

    {{ include('tclient/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('tclient_index') }}">back to list</a>

    {{ include('tclient/_delete_form.html.twig') }}
{% endblock %}
