{% extends 'base.html.twig' %}

{% block title %}New Tclient{% endblock %}

{% block body %}
    <h1>Create new Tclient</h1>

    {{ include('tclient/_form.html.twig') }}

    <a href="{{ path('tclient_index') }}">back to list</a>
{% endblock %}
