{% block title %}{% endblock %}

{% block body %}

{{ form_start(form) }}

    <div class="card card-custom gutter-b example example-compact">
    <div class="card-header">
        <h3 class="card-title">Categorie</h3>
    </div>
        <div class="card-body">
            <div class="form-group">
               {{ form_row(form.code)}}
               {{ form_row(form.intitule)}}
            </div>
        </div>
        <div class="card-footer">
             <button class="btn btn-success mr-2">{{ button_label|default('Save') }}</button>
            <a href="{{ path('tcategorie_index') }}" class="btn btn-secondary">Retour</a>
        </div>
</div>        

{{ form_end(form) }}

{% endblock %}