{% extends 'base.html.twig' %}
{% block title %}Tcategorie index
{% endblock %}
{% block body %}

<div class="card card-custom">
  <div class="card-header">
    <div class="card-title">
      <span class="card-icon">
        <i class="fa fa-list"></i>
      </span>
      <h3 class="card-label">Liste des catégories de chambre</h3>
    </div>
    <div class="card-toolbar">
      <!--begin::Dropdown-->
      <div class="dropdown dropdown-inline mr-2">
        <button type="button" class="btn btn-sm btn-light-primary font-weight-bolder">
          <i class="fa fa-download"></i>Import
        </button>
      </div>

      <div class="dropdown dropdown-inline" data-toggle="tooltip" title="" data-placement="top"
        data-original-title="Nouveau">
        <a href="" class="btn btn-icon" data-toggle="modal" data-target="#staticBackdrop">
          <span class="svg-icon svg-icon-success svg-icon-2x">
            <!--begin::Svg Icon | path:/metronic/theme/html/demo6/dist/assets/media/svg/icons/Files/File-plus.svg-->
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
              height="24px" viewbox="0 0 24 24" version="1.1">
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <polygon points="0 0 24 0 24 24 0 24"></polygon>
                <path
                  d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z"
                  fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                <path
                  d="M11,14 L9,14 C8.44771525,14 8,13.5522847 8,13 C8,12.4477153 8.44771525,12 9,12 L11,12 L11,10 C11,9.44771525 11.4477153,9 12,9 C12.5522847,9 13,9.44771525 13,10 L13,12 L15,12 C15.5522847,12 16,12.4477153 16,13 C16,13.5522847 15.5522847,14 15,14 L13,14 L13,16 C13,16.5522847 12.5522847,17 12,17 C11.4477153,17 11,16.5522847 11,16 L11,14 Z"
                  fill="#000000"></path>
              </g>
            </svg>
            <!--end::Svg Icon-->
          </span>
        </a>
      </div>
      <!--end::Button-->
    </div>
  </div>

  <div class="card-body">
    <!--begin: Datatable-->
    <table class="table table-head-custom table-vertical-center" id="kt_datatable" style="margin-top: 13px !important">
      <thead>
        <tr>
          <th>Nom de la categorie</th>
          <th class="pr-0 text-right">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for item in categories %}
        <tr>
          <td>{{ item.intitule }}</td>
          <td class="pr-0 text-right">
            <a href="" id="edit" data-toggle="modal" data-target="#editmodal" data-id="{{item.id}}"
              data-intitule="{{item.intitule}}" class="btn btn-icon btn-wa btn-hover-warning btn-sm mx-3">
              <span class="svg-icon svg-icon-md btn-light-primary">
                <!--begin::Svg Icon | path:/metronic/theme/html/demo6/dist/assets/media/svg/icons/Communication/Write.svg-->
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                  height="24px" viewbox="0 0 24 24" version="1.1">
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect x="0" y="0" width="24" height="24"></rect>
                    <path
                      d="M12.2674799,18.2323597 L12.0084872,5.45852451 C12.0004303,5.06114792 12.1504154,4.6768183 12.4255037,4.38993949 L15.0030167,1.70195304 L17.5910752,4.40093695 C17.8599071,4.6812911 18.0095067,5.05499603 18.0083938,5.44341307 L17.9718262,18.2062508 C17.9694575,19.0329966 17.2985816,19.701953 16.4718324,19.701953 L13.7671717,19.701953 C12.9505952,19.701953 12.2840328,19.0487684 12.2674799,18.2323597 Z"
                      fill="#000000" fill-rule="nonzero"
                      transform="translate(14.701953, 10.701953) rotate(-135.000000) translate(-14.701953, -10.701953)">
                    </path>
                    <path
                      d="M12.9,2 C13.4522847,2 13.9,2.44771525 13.9,3 C13.9,3.55228475 13.4522847,4 12.9,4 L6,4 C4.8954305,4 4,4.8954305 4,6 L4,18 C4,19.1045695 4.8954305,20 6,20 L18,20 C19.1045695,20 20,19.1045695 20,18 L20,13 C20,12.4477153 20.4477153,12 21,12 C21.5522847,12 22,12.4477153 22,13 L22,18 C22,20.209139 20.209139,22 18,22 L6,22 C3.790861,22 2,20.209139 2,18 L2,6 C2,3.790861 3.790861,2 6,2 L12.9,2 Z"
                      fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                  </g>
                </svg>
                <!--end::Svg Icon-->
              </span>
            </a>
            <a href="#" id="delete" class="btn btn-icon btn-light btn-hover-danger btn-sm" data-toggle="modal"
              data-target="#deleteModal" data-id="{{item.id}}">
              <span class="svg-icon svg-icon-md btn-light-primary">
                <!--begin::Svg Icon | path:/metronic/theme/html/demo6/dist/assets/media/svg/icons/General/Trash.svg-->
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                  height="24px" viewbox="0 0 24 24" version="1.1">
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect x="0" y="0" width="24" height="24"></rect>
                    <path
                      d="M6,8 L6,20.5 C6,21.3284271 6.67157288,22 7.5,22 L16.5,22 C17.3284271,22 18,21.3284271 18,20.5 L18,8 L6,8 Z"
                      fill="#000000" fill-rule="nonzero"></path>
                    <path
                      d="M14,4.5 L14,4 C14,3.44771525 13.5522847,3 13,3 L11,3 C10.4477153,3 10,3.44771525 10,4 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z"
                      fill="#000000" opacity="0.3"></path>
                  </g>
                </svg>
                <!--end::Svg Icon-->
              </span>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <!--end: Datatable-->
  </div>
</div>
<!-- modal -->

<!--add-->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
  aria-labelledby="staticBackdrop" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nouvelle catégorie</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i aria-hidden="true" class="ki ki-close"></i>
        </button>
      </div>
      <div class="modal-body">
        <form class="form" id="newCat" method="POST" action="{{path('tcategorie_index')}}">
          <div class="error">
          </div>
          <div class="">
            <div class="form-group row">
              <div class="col-lg-12">
                <label>* Nom de la catégorie:</label>
                <input type="text" name="intitule" class="form-control form-control-sm" placeholder=""
                  value="{{categorie.intitule}}" />
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary font-weight-bold" name="save"
              value="valider">Enrégistrer</button>
            <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<!-- edit-->
<div class="modal fade" id="editmodal" data-backdrop="static" tabindex="-1" role="dialog"
  aria-labelledby="staticBackdrop" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modifier une catégorie</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i aria-hidden="true" class="ki ki-close"></i>
        </button>
      </div>
      <div class="modal-body">
        <form class="form" id="editForm" method="POST" action="">
          <div class="">
            <div class="form-group row">
              <div class="col-lg-12">
                <label for="intitule2">* Nom de la catégorie:</label>
                <input type="text" id="intitule2" name="intitule2" class="form-control form-control-sm" />
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary font-weight-bold" name="save">Enregistrer</button>
            <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--delete-->
<div class="modal fade" id="deleteModal" data-backdrop="static" tabindex="-1" role="dialog"
  aria-labelledby="staticBackdrop" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Suppression d'un catégorie</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i aria-hidden="true" class="ki ki-close"></i>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-center">Voulez-vous vraiment supprimer cette catégorie?</p>
        <form action="" method="post" id="deleteForm">
          <input type="hidden" name="_method" value="DELETE">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light-primary btn-sm font-weight-bold" data-dismiss="modal">Non</button>
        <button type="submit" form="deleteForm" class="btn btn-success btn-sm font-weight-bold">Oui</button>
      </div>
    </div>
  </div>
</div>
<!-- javascript -->
{% block javascripts %}
<script>
  FormValidation.formValidation(document.getElementById('newCat'), {
    fields: {
      intitule: {
        validators: {
          notEmpty: {
            message: 'Le nom ne doit pas être null '
          }
        }
      }
    },

    plugins: {
      trigger: new FormValidation.plugins.Trigger(),
      // Validate fields when clicking the Submit button
      submitButton: new FormValidation.plugins.SubmitButton(),
      // Submit the form when all fields are valid
      defaultSubmit: new FormValidation.plugins.DefaultSubmit(),
      // Bootstrap Framework Integration
      bootstrap: new FormValidation.plugins.Bootstrap({
        eleInvalidClass: '',
        eleValidClass: ''
      })
    }
  });

  //For update
  $('body').on('click', '#edit', function () {
    let id = $(this).attr('data-id');
    let intitule = $(this).attr('data-intitule');
    $('#intitule2').val(intitule);
    // $('#libelleSuivi2').select2().trigger('change');
    document.forms.editForm.action = '/categorie/' + id + '/edit';
  });
  //for delete
  $(document).on('click', '#delete', function () {
    let id = $(this).attr('data-id');
    document.forms.deleteForm.action = '/categorie/' + id;
  });
</script>
{% endblock javascripts %}

{% endblock %}