{% extends 'base.html.twig' %}

{% block title %}Tcategorie{% endblock %}

{% block body %}
    <h1>Tcategorie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tcategorie.id }}</td>
            </tr>
            <tr>
                <th>Intitule</th>
                <td>{{ tcategorie.intitule }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ tcategorie.code }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tcategorie_index') }}">back to list</a>

    <a href="{{ path('tcategorie_edit', {'id': tcategorie.id}) }}">edit</a>

    {{ include('tcategorie/_delete_form.html.twig') }}
{% endblock %}
