{% extends 'base.html.twig' %}

{% block title %}Edit Treservation{% endblock %}

{% block body %}
    <h1>Edit Treservation</h1>

    {{ include('treservation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('treservation_index') }}">back to list</a>

    {{ include('treservation/_delete_form.html.twig') }}
{% endblock %}
