{% extends 'base.html.twig' %}

{% block title %}Treservation index{% endblock %}

{% block body %}
    <h1>Treservation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Datedebut</th>
                <th>Datefin</th>
                <th>Montantarh</th>
                <th>Statut</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for treservation in treservations %}
            <tr>
                <td>{{ treservation.id }}</td>
                <td>{{ treservation.datedebut ? treservation.datedebut|date('Y-m-d') : '' }}</td>
                <td>{{ treservation.datefin ? treservation.datefin|date('Y-m-d') : '' }}</td>
                <td>{{ treservation.montantarh }}</td>
                <td>{{ treservation.statut ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('treservation_show', {'id': treservation.id}) }}">show</a>
                    <a href="{{ path('treservation_edit', {'id': treservation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('treservation_new') }}">Create new</a>
{% endblock %}
