{% extends 'base.html.twig' %}

{% block title %}New Treservation{% endblock %}

{% block body %}
    <h1>Create new Treservation</h1>

    {{ include('treservation/_form.html.twig') }}

    <a href="{{ path('treservation_index') }}">back to list</a>
{% endblock %}
