{% extends 'base.html.twig' %}

{% block title %}Treservation{% endblock %}

{% block body %}
    <h1>Treservation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ treservation.id }}</td>
            </tr>
            <tr>
                <th>Datedebut</th>
                <td>{{ treservation.datedebut ? treservation.datedebut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Datefin</th>
                <td>{{ treservation.datefin ? treservation.datefin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Montantarh</th>
                <td>{{ treservation.montantarh }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ treservation.statut ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('treservation_index') }}">back to list</a>

    <a href="{{ path('treservation_edit', {'id': treservation.id}) }}">edit</a>

    {{ include('treservation/_delete_form.html.twig') }}
{% endblock %}
