{% extends 'base.html.twig' %}

{% block title %}Edit Pmodepaiement{% endblock %}

{% block body %}
    <h1>Edit Pmodepaiement</h1>

    {{ include('pmodepaiement/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('pmodepaiement_index') }}">back to list</a>

    {{ include('pmodepaiement/_delete_form.html.twig') }}
{% endblock %}
