{% extends 'base.html.twig' %}

{% block title %}Pmodepaiement{% endblock %}

{% block body %}
    <h1>Pmodepaiement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pmodepaiement.id }}</td>
            </tr>
            <tr>
                <th>Intitule</th>
                <td>{{ pmodepaiement.intitule }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ pmodepaiement.statut ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('pmodepaiement_index') }}">back to list</a>

    <a href="{{ path('pmodepaiement_edit', {'id': pmodepaiement.id}) }}">edit</a>

    {{ include('pmodepaiement/_delete_form.html.twig') }}
{% endblock %}
