{% extends 'base.html.twig' %}

{% block title %}Preduction index{% endblock %}

{% block body %}
    <h1>Preduction index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Datereduct</th>
                <th>Montantreduuct</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for preduction in preductions %}
            <tr>
                <td>{{ preduction.id }}</td>
                <td>{{ preduction.datereduct ? preduction.datereduct|date('Y-m-d') : '' }}</td>
                <td>{{ preduction.montantreduuct }}</td>
                <td>
                    <a href="{{ path('preduction_show', {'id': preduction.id}) }}">show</a>
                    <a href="{{ path('preduction_edit', {'id': preduction.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('preduction_new') }}">Create new</a>
{% endblock %}
