{% extends 'base.html.twig' %}

{% block title %}New Preduction{% endblock %}

{% block body %}
    <h1>Create new Preduction</h1>

    {{ include('preduction/_form.html.twig') }}

    <a href="{{ path('preduction_index') }}">back to list</a>
{% endblock %}
