{% extends 'base.html.twig' %}

{% block title %}Preduction{% endblock %}

{% block body %}
    <h1>Preduction</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ preduction.id }}</td>
            </tr>
            <tr>
                <th>Datereduct</th>
                <td>{{ preduction.datereduct ? preduction.datereduct|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Montantreduuct</th>
                <td>{{ preduction.montantreduuct }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('preduction_index') }}">back to list</a>

    <a href="{{ path('preduction_edit', {'id': preduction.id}) }}">edit</a>

    {{ include('preduction/_delete_form.html.twig') }}
{% endblock %}
