{% extends 'base.html.twig' %}

{% block title %}New Tprestation{% endblock %}

{% block body %}
    <h1>Create new Tprestation</h1>

    {{ include('tprestation/_form.html.twig') }}

    <a href="{{ path('tprestation_index') }}">back to list</a>
{% endblock %}
