{% extends 'base.html.twig' %}

{% block title %}Tprestation{% endblock %}

{% block body %}
    <h1>Tprestation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tprestation.id }}</td>
            </tr>
            <tr>
                <th>Intitule</th>
                <td>{{ tprestation.intitule }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ tprestation.prix }}</td>
            </tr>
            <tr>
                <th>Codeprestation</th>
                <td>{{ tprestation.codeprestation }}</td>
            </tr>
            <tr>
                <th>Isvendable</th>
                <td>{{ tprestation.Isvendable ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Isfree</th>
                <td>{{ tprestation.Isfree ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tprestation_index') }}">back to list</a>

    <a href="{{ path('tprestation_edit', {'id': tprestation.id}) }}">edit</a>

    {{ include('tprestation/_delete_form.html.twig') }}
{% endblock %}
