{% extends 'base.html.twig' %}

{% block title %}Facture{% endblock %}

{% block body %}
    <h1>Facture</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ facture.id }}</td>
            </tr>
            <tr>
                <th>Numfacture</th>
                <td>{{ facture.numfacture }}</td>
            </tr>
            <tr>
                <th>Datefacture</th>
                <td>{{ facture.datefacture ? facture.datefacture|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Montantttc</th>
                <td>{{ facture.montantttc }}</td>
            </tr>
            <tr>
                <th>Montantht</th>
                <td>{{ facture.montantht }}</td>
            </tr>
            <tr>
                <th>Montantnet</th>
                <td>{{ facture.montantnet }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('facture_index') }}">back to list</a>

    <a href="{{ path('facture_edit', {'id': facture.id}) }}">edit</a>

    {{ include('facture/_delete_form.html.twig') }}
{% endblock %}
